body {
    font-family: 'San Francisco', Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#container {
    border: 3px solid #ddd;
    padding: 30px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #333;
    margin-top: 0px; 
}

#pointContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

#pointLevel {
    width: 140px;
    height: 40px;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#pointLevel:hover {
    background-color: #ddd;
}

#pointFill {
    height: 100%;
    width: 0%;
    background-color: transparent;
    border-radius: 25px;
}

#pointText {
    color: #333;
    font-size: 18px;
    font-weight: bold;
    z-index: 1;
}

#buttonsContainer {
    display: flex;
    gap: 25px; 
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #0056b3;
}

#exchangeLink {
    padding: 10px 20px;
    font-size: 16px;
    background-color: purple;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    text-decoration: none;
}

#exchangeLink:hover {
    background-color: #0056b3;
}
